/*
 * VARIABLES
 */

:root {
  /* Font Sizes */
  --baseFontSize: 1rem;
  --baseNavSize: 0.64rem;
  --smallFontSize: 0.8rem;
  --smallestFontSize: 0.512rem;
  
  --xtra-big-ass-heading: 3.052rem;
  --xtra-heading: 2.441rem;
  --heading-1: 1.953rem;
  --heading-2: 1.563rem;
  --heading-3: 1.25rem;
  --heading-4: var(--baseFontSize);
  --heading-5: var(--smallFontSize);
  --heading-6: 0.64rem;
  --heading-7: var(--smallestFontSize);

  /* Colors */
  --color-accent: #D1345B;
  --color-neutral-light: #E9ECEF;
  --color-neutral: #ADB5BD;
  --color-neutral-dark: #495057;
  --color-neutral-darkest: #343A40;
}

/*
 * GENERAL
 */ 

h1 {
  font-size: var(--heading-1);
  font-family: 'Space Mono';
  font-weight: 700;
  display: inline-block;
}

h3 {
  font-size: var(--heading-3);
  font-weight: 700;
  
  padding-bottom: 5px;
  border-bottom: 2px dotted var(--color-accent);
  width: fit-content;
  display: inline-block;
}

strong {
  display: inline-block;
  color: var(--color-neutral-light);
  background-color: var(--color-accent);
  padding: 3px;
  transform: skewX(-5deg);
}

code.inline {
  background-color: var(--color-neutral-light);
}

code.block {
  display: block;
  background-color: var(--color-neutral-light);
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 680px) {
  :root {
    font-size: 75%;
  }
}

/*
 * HEADER
 */

body {
  background-color: var(--color-neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Space Mono';
  overflow-y: auto;
  min-width: 300px;
}

body > header {
  width: 90vw;
  padding: 25px;
  border: 2px solid grey;
  box-shadow: 5px 5px black;
  margin: 25px auto;
  background-color: white;
  box-sizing: border-box;

}

body > header > p {
  line-height: 1.2rem;
  margin-top: 15px;
}

body > header .fa-chevron-down {
  margin-right: 15px;
}


#header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 680px) {
  body > header > p {
    display: none;
  }

  body > header {
    padding: 15px;
  }
}

/*
 * MAIN
 */

#main-container {
  width: 90vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  line-height: 1.2rem;
}

nav {
  padding: 25px;
  border: 2px solid grey;
  box-shadow: 5px 5px black;
  margin: 25px auto;
  background-color: white;
  flex-basis: 20%; 
}

#nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-container .fa-chevron-down {
  margin-right: 15px;
}

ul {
  margin-top: 15px;
}

a {
  color: black;
}

ul > li::before {
  content: "â—";
  color: var(--color-accent);
  margin-right: 5px;
}

main {
  height: 50vh;
  max-height: 50vh;
  padding: 25px;
  border: 2px solid grey;
  box-shadow: 5px 5px black;
  margin: 25px 0px 25px 25px;
  background-color: white;
  overflow:scroll;
  flex-basis: 90%;
  text-align: justify;
}

main p {
  margin-top: 15px;
}

.main-section-header {
  display: block;
  font-weight: 700;
  font-size: var(--heading-3);
  margin-bottom: 10px;
  margin-top: 15px;
  padding-bottom: 5px;
  border-bottom: 2px dotted var(--color-accent);
  width: fit-content;
}

.main-section:first-of-type .main-section-header {
  margin-top: 0px;
}

main img {
  width: 100%;
  max-width: 500px;
  margin: 5px 0px;
  display: block;
}

@media screen and (max-width: 680px) {
  #main-container {
    display: flex;
    flex-direction: column;
  }

  main {
    margin: 25px 0px 25px 0px;
    padding: 15px;
    text-align: inherit;
  }

  nav {
    margin: 0px;
  }

  #navbar {
    padding: 15px;
  }

  nav h3 {
    margin-bottom: 0px;
  }

  nav > ul {
    display: none;
  }

  .mobile-only {
    display: inline-block;
  }
}

/*
 * FOOTER
 */

footer {
  width: 100vw;
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

footer #made-by {
  align-self: flex-start;
}

footer #social {
  display: flex;
  flex-direction: row;
}

footer #icons-attr span {
  font-size: var(--smallFontSize);
  font-family: 'Space Mono';
}

footer #icons-attr span a {
  color: white;
}

footer #social svg {
  fill: var(--color-neutral-light);
  width: 20px;
  padding: 0px 5px 5px 5px;
}

/*
 * MISC
 */

.collapsed {
  display: none;
}

.expanded {
  display: block;
}
